<script type="text/javascript"> var sig = "<%=@signature%>"; var pol = "<%=@policy%>";</script>

<div data-role="page">

<div class="blackout">
</div>

<div class="loading-div">
  <img src="http://www.mytreedb.com/uploads/mytreedb/loader/ajax_loader_gray_512.gif" alt="loading...">
  <!-- http://www.mytreedb.com/uploads/mytreedb/loader/ajax_loader_gray_512.gif -->
</div>

  <div data-role="header" data-position="fixed" class="header">
    <div class="header-add"><button class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-plus header-btn">Add New</button> </div>
    <div class="header-title">title</div>
  </div><!-- header -->

  <div data-role="content">

  test
    <div class="album-list-wrapper">
    
    <div class="add-album">
    </div> <!-- pop-up for new album -->

     <div class="album-list">
    </div><!-- list of albums -->
  </div>

<div class="album-wrapper">
   <div class="ui-grid-a">
     <div class="ui-block-a view-btn"> <a href="" class="ui-btn back-btn">All Albums</a></div>
     <div class="ui-block-b view-btn"> <a href="" class="ui-btn add-btn">Add Photo</a></div>
   </div>

   <div class="ui-grid-c photo-grid"> 

   </div>

   <form action="https://s3.amazonaws.com/photystorage" method="post" enctype="multipart/form-data">
    <input type="hidden" name="key" value=<%=@album%>/${filename}>
    <input type="hidden" name="AWSAccessKeyId" value="AKIAJSQYINU6WTAXABZQ">
    <input type="hidden" name="acl" value="public-read"> 
    <input type="hidden" name="success_action_redirect" value="http://radiant-savannah-8843.herokuapp.com">
    <input type="hidden" name="policy" value=<%=@policy%>>
    <input type="hidden" name="signature" value=<%=@signature%>>
    <input type="hidden" name="Content-Type" value="image/jpeg">
    <!-- Include any additional input fields here -->
     <div class="hidden">
     <input name="file" type="file" class="input-file"> 
     <input type="submit" value="Upload File to S3" class="submit-file"> 
     </div>
 </form> 

</div>
    

  
</div><!-- /content -->

<div data-role="footer">
  <h4></h4>
</div><!-- /footer -->

</div><!-- /page -->

